 <section id="banner">
  <blockquote>
" Voyager sans rencontrer l’autre, ce n’est pas voyager, c’est se déplacer "
  </blockquote>
  <p>
    Alexandra David-Nee
  </p>
</section>

<section id="slogan">
  <h2>FAMILIAL, SUR-MESURE ET AUTHENTIQUE !</h2>
  <h3>Equipe locale & professionnelle</h3>
  <h3>Hors des sentiers battus</h3>
  <h3>Engagement pour un tourisme responsable & durable</h3>
  <p>La volonté d'Happy Familly Travel, c'est de mettre l'Humain au cœur de ses
    offres touristiques et de ses projets, pour vous offrir une expérience
    inoubliable d'échanges et de partages dans une ambiance résolument
    familiale ! Notre équipe mettra tout en œuvre pour que votre séjour au
    Vietnam corresponde à vos attentes et soit avant tout une aventure haute
    en couleur et en authenticité, dans le respect des populations locales.
    Pour cela, nous vous invitons à découvrir nos circuits au plus près des
    peuples sillonnant les magnifiques contrées du nord Vietnam !
  </p>
</section>

<section id="favourites">
  <h2>NOS COUPS DE COEURS !</h2>

  <div class="hidden-description">
    <h3>sapa</h3>
    <p>En immersion compète durant 5 jours, profitez du calme et de la beauté
      de vallées rizicoles du Nord au Sud de Sapa.</p>
  </div>
  <h2>séjour immersion</h2>
  <%= link_to root_path do %>
    <p>En savoir plus</p>
  <% end %>

  <div class="hidden-description">
    <h3>sapa</h3>
    <p>2 jours de randonnée pour  découvrir toutes les richesses naturelles
      et culturelles de la région.</p>
  </div>
  <h2>à la découverte des ethnies</h2>
  <%= link_to root_path do %>
    <p>En savoir plus</p>
  <% end %>

  <div class="hidden-description">
    <h3>sapa</h3>
    <p>3 jours de randonnée pour aller explorer les paysages somptueux à la
      limites de la région et rencontrer les ethnies minoritaires vivants
      dans les villages les plus reculés.</p>
  </div>
  <h2>au coeur des peuples</h2>
  <%= link_to root_path do %>
    <p>En savoir plus</p>
  <% end %>

</section>

<section id="team">
  <h1>l'équipe</h1>
  <div class="">
    <p>Nous serons toujours ravis de vous accueillir et de vous faire découvrir
      la culture locale et des paysages à couper le souffle</p>
  </div>
  <div>
    <div class="team-card">
      <%= image_tag '/assets/test.jpg' %>
      <p>Julien Olivier</p>
      <%= link_to root_path do %>
        <%= image_tag '/assets/test.jpg' %>
      <% end %>
      <p>"Ici une phrase qui expose les valeurs de l'agence,
        l'esprit du projet"</p>
    </div>
    <div class="team-card">
      <%= image_tag '/assets/test.jpg' %>
      <p>Julien Olivier</p>
      <%= link_to root_path do %>
        <%= image_tag '/assets/test.jpg' %>
      <% end %>
      <p>"Ici une phrase qui expose les valeurs de l'agence,
        l'esprit du projet"</p>
    </div>
    <div class="team-card">
      <%= image_tag '/assets/test.jpg' %>
      <p>Julien Olivier</p>
      <%= link_to root_path do %>
        <%= image_tag '/assets/test.jpg' %>
      <% end %>
      <p>"Ici une phrase qui expose les valeurs de l'agence,
        l'esprit du projet"</p>
    </div>
  </div>
</section>

<section id ="destinations">
  <h1>destinations</h1>
  <div class="">
    <p>Partez à la découverte des paysages et des peuples du nord Vietnam avec
      Happy Family Travel ! Nous mettrons tout notre savoir-faire à votre
      service pour vous offrir une expérience unique et adaptée à vos attentes !
    </p>
  </div>
</section>

<section id ="comments">

</section>
