<section class="main-banner">
  <div class="main-banner__quote">" Voyager sans rencontrer l’autre,<br> ce n’est pas voyager, c’est se déplacer "</div>
  <p class="main-banner__author">Alexandra David-Nee</p>
</section>

<a class="anchor" id="slogan-anchor"></a>
<section class="slogan-banner">
  <h2 class="slogan-banner__title">FAMILIAL, SUR-MESURE ET AUTHENTIQUE !</h2><hr>
  <div class="slogan-banner__features">
    <div class="feature">
      <div class="feature__image">
        <%= image_tag '/assets/logo1.webp' %>
      </div>
      <h3 class="feature__text">Equipe locale & professionnelle</h3>
    </div>

    <div class="feature">
      <div class="feature__image">
        <%= image_tag '/assets/logo2.webp' %>
      </div>
      <h3 class="feature__text">Hors des sentiers battus</h3>
    </div>

    <div class="feature">
      <div class="feature__image">
        <%= image_tag '/assets/logo3.webp' %>
      </div>
      <h3 class="feature__text">Engagement pour un tourisme responsable<br> & durable</h3>
    </div>
  </div>
  <div class="slogan-banner__message">
    <p>La volonté d'Happy Familly Travel, c'est de mettre l'Humain au cœur de ses
      offres touristiques et de ses projets, pour vous offrir une expérience
      inoubliable d'échanges et de partages dans une ambiance résolument
      familiale ! Notre équipe mettra tout en œuvre pour que votre séjour au
      Vietnam corresponde à vos attentes et soit avant tout une aventure haute
      en couleur et en authenticité, dans le respect des populations locales.
      Pour cela, nous vous invitons à découvrir nos circuits au plus près des
      peuples sillonnant les magnifiques contrées du nord Vietnam !
    </p>
  </div>
</section>

<a class="anchor" id="comments-anchor"></a>
<section class="comments">
  <div class="comments__title">
    <h2>ils nous ont fait confiance</h2>
  </div>
  <div class="comments__customer">
    <div class="customer">
      <div class="customer__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="customer__testimony-title">
        <h2>comme à la maison</h2>
      </div>
      <div class="customer__testimony-text">
        <p>“Découverte de Sapa avec Thiet notre guide, exceptionnel comme Sapa. Il s’exprime
          avec aisance en français ce qui nous a permis de comprendre beaucoup de sujets sur
          le Vietnam. Nous avons marché ensemble hors des lieux touristiques, nous avons rencontré
          des habitants de divers hameaux et villages, rencontre avec la vraie vie et la vraie
          nature. Nous le remercions sincèrement. Thiet a des projets fantastiques, vous pouvez
          lui faire confiance. Émerveillent assuré.”
        </p>
      </div>
      <div class="customer_name">
        <p>Nicolas M.</p>
      </div>
      <div class="customer_testimony-date">
        <p>Novembre 2018</p>
      </div>
    </div>
    <div class="customer">
      <div class="customer__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="customer__testimony-title">
        <h2>comme à la maison</h2>
      </div>
      <div class="customer__testimony-text">
        <p>“Hôtel simple et propre, exceptionnel pour son accueil et sa localisation.
          Les chambres sont tout confort, le propriétaire est à notre écoute et organise
          si on le souhaite notre séjour, un trek ou encore nous donne des cours de cuisine.
          J'ai réellement envie d'y revenir, on a très vite l'impression d'être comme
          à la maison.”
        </p>
      </div>
      <div class="customer_name">
        <p>Nicolas M.</p>
      </div>
      <div class="customer_testimony-date">
        <p>Novembre 2018</p>
      </div>
    </div>
    <div class="customer">
      <div class="customer__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="customer__testimony-title">
        <h2>je recommande vivement cette agence</h2>
      </div>
      <div class="customer__testimony-text">
        <p>“Les propriétaires sont des personnes adorables et très accueillantes.
          Thiet, le gérant, est un guide francophone proposant de très bons services
          pour visiter les alentours de Sapa, les ethnies minoritaires, les marchés
          (en dehors des sentiers touristiques). S’est une personne très investie
          dans la vie des montagnards afin de les aider à améliorer leur conditions
          de vie tout en conservant leurs traditions. Je recommande vivement
          cette agence pour tous les amoureux de découvertes.”
        </p>
      </div>
      <div class="customer_name">
        <p>Nicolas M.</p>
      </div>
      <div class="customer_testimony-date">
        <p>Novembre 2018</p>
      </div>
    </div>
  </div>
</section>

<a class="anchor" id="favourites-anchor"></a>
<section class="favourites-banner">
  <div class="favourites-banner__title">
    <h1>NOS COUPS DE COEURS !</h1>
  </div>
  <div class="favourites-banner__subtitle">
    <p>Message coup de coeur</p>
  </div>
</section>

<section class="favourites">
    <div class="trip">
      <div class="trip__hidden-description">
        <h3>sapa</h3>
        <p>En immersion compète durant 5 jours, profitez du calme et de la beauté
          de vallées rizicoles du Nord au Sud de Sapa.</p>
      </div>
      <div class="trip__title">
        <h3>séjour immersion</h3>
      </div>
      <div class="trip__link">
        <%= link_to root_path do %>
          <p>En savoir plus</p>
        <% end %>
      </div>
    </div>

  <div class="trip">
    <div class="trip__hidden-description">
      <h3>sapa</h3>
      <p>2 jours de randonnée pour  découvrir toutes les richesses naturelles
        et culturelles de la région.</p>
    </div>
    <div class="trip__title">
      <h3>à la découverte des ethnies</h3>
    </div>
    <div class="trip__link">
      <%= link_to root_path do %>
        <p>En savoir plus</p>
      <% end %>
    </div>
  </div>
  <div class="trip">
    <div class="trip__hidden-description">
      <h3>sapa</h3>
      <p>3 jours de randonnée pour aller explorer les paysages somptueux à la
        limites de la région et rencontrer les ethnies minoritaires vivants
        dans les villages les plus reculés.</p>
    </div>
    <div class="trip__title">
      <h3>au coeur des peuples</h3>
    </div>
    <div class="trip__link">
      <%= link_to root_path do %>
        <p>En savoir plus</p>
      <% end %>
    </div>
  </div>
</section>

<a class="anchor" id="team-anchor"></a>
<section class="team-banner">
  <div class="team-banner__title">
    <h1>l'équipe</h1>
  </div>
  <div class="team-banner__subtitle">
    <p>Nous serons toujours ravis de vous accueillir et de vous faire découvrir
      la culture locale et des paysages à couper le souffle</p>
  </div>
</section>

<section class="member-grid">
    <div class="member-card">
      <div class="member-card__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="member-card__name">
        <p>Julien Olivier</p>
      </div>
      <div class="member-card__social-link">
        <%= link_to root_path do %>
          <%= image_tag '/assets/logo-linkedin.png' %>
        <% end %>
      </div>
      <div class="member-card__quote">
        <p>"Ici une phrase qui expose les valeurs de l'agence,l'esprit du projet"</p>
      </div>
    </div>
    <div class="member-card">
      <div class="member-card__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="member-card__name">
        <p>Julien Olivier</p>
      </div>
      <div class="member-card__social-link">
        <%= link_to root_path do %>
          <%= image_tag '/assets/logo-linkedin.png' %>
        <% end %>
      </div>
      <div class="card-member__quote">
        <p>"Ici une phrase qui expose les valeurs de l'agence,l'esprit du projet"</p>
      </div>
    </div>
    <div class="member-card">
      <div class="member-card__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="member-card__name">
        <p>Julien Olivier</p>
      </div>
      <div class="member-card__social-link">
        <%= link_to root_path do %>
          <%= image_tag '/assets/logo-linkedin.png' %>
        <% end %>
      </div>
      <div class="member-card__quote">
        <p>"Ici une phrase qui expose les valeurs de l'agence,l'esprit du projet"</p>
      </div>
    </div>
</section>
