<a class="anchor" id="team-anchor"></a>
<section class="team-banner">
  <div class="team-banner__title">
    <h1>l'équipe</h1>
  </div>
  <div class="team-banner__subtitle">
    <p>Nous serons toujours ravis de vous accueillir et de vous faire découvrir
      la culture locale et des paysages à couper le souffle</p>
  </div>
</section>

<section class="member-grid">
    <div class="member-card">
      <div class="member-card__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="member-card__name">
        <p>Julien Olivier</p>
      </div>
      <div class="member-card__social-link">
        <%= link_to root_path do %>
          <%= image_tag '/assets/logo-linkedin.png' %>
        <% end %>
      </div>
      <div class="member-card__quote">
        <p>"Ici une phrase qui expose les valeurs de l'agence,l'esprit du projet"</p>
      </div>
    </div>
    <div class="member-card">
      <div class="member-card__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="member-card__name">
        <p>Julien Olivier</p>
      </div>
      <div class="member-card__social-link">
        <%= link_to root_path do %>
          <%= image_tag '/assets/logo-linkedin.png' %>
        <% end %>
      </div>
      <div class="card-member__quote">
        <p>"Ici une phrase qui expose les valeurs de l'agence,l'esprit du projet"</p>
      </div>
    </div>
    <div class="member-card">
      <div class="member-card__image">
        <%= image_tag '/assets/test.jpg' %>
      </div>
      <div class="member-card__name">
        <p>Julien Olivier</p>
      </div>
      <div class="member-card__social-link">
        <%= link_to root_path do %>
          <%= image_tag '/assets/logo-linkedin.png' %>
        <% end %>
      </div>
      <div class="member-card__quote">
        <p>"Ici une phrase qui expose les valeurs de l'agence,l'esprit du projet"</p>
      </div>
    </div>
</section>
